*{
    margin: 0px;
    padding: 0px;
    border: 0px;
    list-style-type: none;
    font-family: 'Arial';
    text-decoration: none;
}
body{
    background-image:url('imagens/yasuo.jpg');
    background-repeat:repeat-x;
    background-size: 1600px ;
   
    
}
h1{
    text-align: center;
    color: rgb(36, 98, 117);
    margin-top: 110px;
    font-size: 60px;
}
#lista #contato{
    width: 200px;
    height: 160px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
#lista #contato:hover{
    background-color: rgb(8, 8, 8);
    height: 120px;
}
#lista ul{
    display: none;
}
#lista #contato:hover > ul{
    display: block;
}
#lista ul li{
    float: left;
}
a#league2{
    color: white;
}
a#contato2{
    color: white;
}
a#contato2:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#trabalhe{
    color: white;
}
a#trabalhe:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#feedback:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#feedback{
    color: white;
}
a#league2{
    color: white;

}
a#league2:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#Elojob{
    color: white;
}
a#cliente{
    background-color: rgb(53, 175, 182);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
    color: black;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
}
a#Elojob:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
nav{
    height: 95px;
    text-align: center;
    margin-left: 0px;
    background-color: rgb(8, 8, 8);
    
}
ul li{
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 45px;
    margin-right: 40px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    text-transform: uppercase;


}
#lista{
    background-color: transparent;
    margin-top: -20px;
}
#lista #league{
    width: 200px;
    height: 160px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
#lista #league:hover{
    background-color: rgb(0, 0, 0);
}
#lista ul{
    display: none;
}
#lista #league:hover > ul{
    display: block;
}
#lista ul li{
    float: left;
}
a#inicio:hover{
    background-color: rgb(10, 48, 48);
    border: 15px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#inicio{
    color: white;
}
a#md10{
    color: white;
}
a#md10:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
p#pfeed{
    text-align: center;
    margin-top: 15px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    font-size: 18px;
}
.mySlides{
    margin-top: 30px;
    margin-left: 780px;
}
button#rightbutton{
    margin-top: -37px;
    margin-left: 1025px;
    display: flex;
    width: 40px;
    height: 40px;
    
}
div#div{
    border: 1px solid black;
}
span#span{
   margin-left: -1px;
   margin-top: -1px;
}
button#leftbutton{
    margin-top: -250px ;
    display: block;
    margin-left: 734px;
    width: 40px;
    height: 40px;
    
}
span#span1{
    margin-left: -1px;
    margin-top: -1px;
 }
 img#gif{
    margin-top: -400px;
    margin-left: 350px;
    width: 400px;
 }