*{
    border: 0;
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Arial';
    text-decoration: none;
}
body{
    background-image:url('imagens/Shadow-Kayn-1080P.png');
    
    
}

nav{
    
    text-align: center;
    margin-left: 200px;
}
ul li{
    display: inline-block;
    width: 200px;
    text-align: center;
    margin-top: 45px;
    margin-right: 40px;
    color: rgba(240, 240, 240, 0.993);
    font-weight: bold;
    text-transform: uppercase;
    

}
a#cliente{
    background-color: rgb(53, 175, 182);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
    color: black;
    font-weight: bold;
    text-transform: none;
    text-decoration: none;
}
main{
    margin-top: 20px;
    color: white;
    text-align: center;
font-size: 85px;
}
p#main{
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
}
button{
    width: 250px;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(109, 209, 204);
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-flex;
    vertical-align: top;
    margin-top: 30px;
    text-align: center;
    
   
}
p#button{
    margin-left: 25px;
    margin-top: 15px;
}
button#md10{
    width: 250px;
    height: 45px;
    border-radius: 25px;
    color: black;
    background-color: transparent;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-flex;
    vertical-align: top;
    margin-top: 30px;
    text-align: center;
    border: 2px solid white;
}
p#buttonmd10{
    margin-left: 25px;
    margin-top: 13px;
    color: white;
    text-align: center;
}
section{
    background-image: url('imagens/977241.jpg');
    width: 100%;
    height: 900px;
    margin-top: 0px;
}
p#section{
    font-size: 50px;
    margin-top: 216px;
    color: white;
    text-align: center;
    font-family: monospace;
}
p#section2{
    font-size: 25px;
    margin-top: 14px;
    color: white;
    text-align: center;
}
img#trofeu{
    margin-top: 50px;
    margin-left: 880px;
    
}
p#asidee{
    color: white;
    margin-left: -30px;
    margin-top: -60px;
   text-align: center;
   font-size: 30px;
   text-transform: uppercase;
    color: rgb(109, 209, 204) ;
    font-weight: bold;
}
p#serviços{
    color: white;
    margin-top: 70px;
   text-align: center;
   font-size: 20px;
}
img#logo{
  margin-top: -230px ;
  margin-left: 20px;
}
hr{
    margin-top: 200px;
    background-color: aqua;
}
p#pagamento{
    color: white;
    text-align: center;
    margin-left: 680px;
    margin-top: 100px;
    font-size: 13px;
}
img#mercadopago{
    margin-left: 1060px;
    margin-top: 20px;
    border-radius: 5px;
}
img#paypal{
    margin-left: 1105px;
    margin-top: -34px;
    display: flex;
    border-radius: 5px;
}
img#pix{
    margin-left: 1150px;
    margin-top: -30px;
    display: flex;
    border-radius: 5px;
}
img#inter{
    margin-left: 1150px;
    margin-top: 5px;
    display: flex;
    border-radius: 5px;
}
img#c6{
    margin-left: 1105px;
    margin-top: -30px;
    display: flex;
    border-radius: 5px;
}
img#itau{
    margin-left: 1060px;
    margin-top: -30px;
    display: flex;
    border-radius: 5px;
}
p#riot{
    color: rgb(114, 103, 103);
    margin-left: 50px;
    margin-top: 70px;
    
}
img#logo2{
    margin-top: -120px;
    display: flex;
    margin-left: 50px;
}
p#a{
    color: white;
    margin-left: 180px;
    margin-top: -50px;
    font-size: 35px;
}
footer{
    color: rgb(146, 186, 189);
    margin-top: 130px;
    margin-left: 700px;
    font-size: 11px;
}
a#inicio:hover{
    background-color: rgb(10, 48, 48);
    border: 15px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#inicio{
    color: white;
}
#lista{
    background-color: transparent;
}
#lista #league{
    width: 200px;
    height: 160px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
#lista #league:hover{
    background-color: rgb(0, 0, 0);
}
#lista ul{
    display: none;
}
#lista #league:hover > ul{
    display: block;
}
#lista ul li{
    float: left;
}
a#league2{
    color: white;

}
a#league2:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#Elojob{
    color: white;
}
a#Elojob:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#md10{
    color: white;
}
a#md10:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
.what{
    color: white;
}
.what2{
    color: black;
}
#lista #contato{
    width: 200px;
    height: 160px;
    display: inline-block;
    text-align: center;
    margin-top: 50px;
}
#lista #contato:hover{
    background-color: rgb(0, 0, 0);
    height: 120px;
}
#lista ul{
    display: none;
}
#lista #contato:hover > ul{
    display: block;
}
#lista ul li{
    float: left;
}
a#league2{
    color: white;
}
a#contato2{
    color: white;
}
a#contato2:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#trabalhe{
    color: white;
}
a#trabalhe:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#feedback:hover{
    background-color: rgb(10, 48, 48);
    border: 11px solid transparent;
    border-radius: 22px;
    transition: 0.1s;
}
a#feedback{
    color: white;
}